<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Isut about</title>
<link rel="shortcut icon" href="../graphics/isut-32.ico" />
<script type="text/javascript" src="../lib/util.js"></script>
<link rel="stylesheet" type="text/css" href="../css/isut.css" />
<link rel="stylesheet" type="text/css" href="../css/info.css" />
<script type="text/javascript" src="../js/util.js"></script>
<script type="text/javascript" src="../js/isut.js"></script>
</head>
<body>

<%- include('navigation', { tabbed: 'about' }); %>

<h1>Isut</h1>

<section role="main">
<h2>History</h2>
<p>
This project builds on
<a href="https://knowledge.uchicago.edu/record/3695?ln=en">From Papyrus to Pixels: 
Optical Character Recognition Applied to Ancient Egyptian Hieratic</a> by
Julius Tabin (2022), with <a href="https://github.com/jtabin/PaPYrus">code and data on GitHub</a>.
The web application was built by Mark-Jan Nederhof, in collaboration with Julius Tabin and Christian Casey.
</p>

<h2>Aims</h2>
<p>
This project aims to digitize facsimiles of different hieratic texts, annotated with shapes of glyphs.
Image processing techniques are used for automatic segmentation, and
OCR techniques are used for automatic classification.
</p>
<p>
Given the database of shapes,
techniques of dimensionality reduction can used to compare manuscripts from
different periods, provenances and genres, and to identify different realizations of the same
underlying character.
</p>

<h2>Hosting</h2>
<p>
This project is hosted in partnership with the Egyptology department of the 
University of Liège.
</p>
<p>
The source code is on <a href="https://github.com/nederhof/isut">GitHub</a>.
</p>

<h2>Bibliography</h2>
<p>
J. Tabin, M.-J. Nederhof, and C. Casey. Collaborative Annotation and
Computational Analysis of Hieratic. In M. Coustaty and A. Fornés (eds.),
<i>Document Analysis and Recognition -- ICDAR 2023 Workshops</i>, Lecture Notes in
Computer Science, volume 14193, Part 1, pages 267-283, San José, CA, USA,
2023. Springer-Verlag.
</p>
</section>

</body>
</html>
