<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Isut error</title>
<link rel="shortcut icon" href="../graphics/isut-32.ico" />
</head>
<body>

<h1>Please report this error to the Isut team</h1>

<div><b><%= message %></b></div>

<% for (let i = 0; i < stack.length; i++) { %>
	<p><%= stack[i] %></p>
<% } %>

</body>
</html>
