<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Isut not found</title>
</head>
<body>

<h1>Not found</h1>

<div><b><%= message %></b></div>

</body>
</html>
