<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Isut not permitted</title>
<link rel="shortcut icon" href="../graphics/isut-32.ico" />
</head>
<body>

<h1>Not permitted</h1>

<div><b><%= message %></b></div>

</body>
</html>
