/* fonts */

@font-face {
	font-family: 'Specials';
	src: url('../graphics/Specials.ttf') format('truetype');
}

/* page */

* {
	box-sizing: border-box;
	font-family: "Cormorant Garamond", serif;
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
}
@media only screen and (min-width: 992px) {
	body {
		font-size: 14px;
	}
}
@media only screen and (min-width: 1200px) {
	body {
		font-size: 16px;
	}
}

/* navigation between tabs */

nav {
	font-size: 1.125em;
	box-shadow: -2px 4px 8px -2px rgba(0, 0, 0, 0.4);
	z-index: 2;
	background-color: #fff;
	border-bottom: #fff solid 4px;
	height: 8vh;
	min-height: 40px;
}
nav .icon {
	display: none;
}
nav .nav-logo {
	max-height: 5vh;
	margin: 2vh 3vw 0 2vw;
}
nav ul {
	list-style-type: none;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	padding-top: 3vh;
	width: 10vw;
	max-width: 150px;
	height: calc(8vh - 4px);
	min-height: 36px;
	text-align: center;
	text-decoration: none;
	color: #4a4a4a;
	font-weight: 600;
}
nav ul li a:hover:not(.nav-active) {
	background-color: #eaeaea;
	transition: background-color 0.3s ease;
}
.nav-help {
	float: right;
}
.nav-logo {
	margin-right: 8%;
}
.nav-active {
	background-color: #f3ebde;
}
@media only screen and (max-width: 550px) {
	nav li:not(:first-child) {
		display: none;
	}
	nav li.icon {
		float: right;
		display: block;
		padding: 0;
	}
	nav.responsive {
		position: relative;
	}
	nav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	nav.responsive li {
		float: none;
		display: block;
		text-align: left;
	}
	nav.responsive li a {
		width: 100%;
		max-width: 100%;
		background-color: #fff;
	}
	nav.responsive li a.nav-active {
		background-color: #f3ebde;
	}
}

.nav-row {
	width: 100%;
	position: relative;
}
.nav-row::after {
	content: "";
	clear: both;
	display: table;
}

#hamburger-menu {
	padding-top: 4vh;
	width: 12vw;
	max-width: 150px;
	height: calc(8vh - 4px);
	min-height: 36px;
	background-image: url("../graphics/menu-24px.svg");
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}

/* navigation within texts */

.text-navigation {
	left: 5%;
	width: 90%;
	display: inline-block;
	position: relative;
	padding: 0;
	margin-top: 3vh;
}

.page-navigation {
	left: 5%;
	width: 85%;
	display: inline-block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navigation-button {
	font-family: Specials;
	width: 2em;
	height: 2em;
	padding: 1px;
	vertical-align: top;
}

/* general */

.warning {
	color: red;
}

div.warning {
	margin: 30px;
}

.changed {
	background-color: lightgray;
}

.hidden {
	display: none;
}

.text-edit-button {
	font-size: 1.5em;
	margin: 5px 20px;
	padding: 1px 2px;
}

/* hierojax */

.hierojax {
	font-weight: normal;
}
