@font-face {
	font-family: 'Hieroglyphic';
	src: url('../lib/NewGardinerSMP.ttf') format('truetype');
}

#page-canvas {
	margin: 5px;
}

fieldset {
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 40%;
	padding: 4px;
	border: 1px solid #666;
	border-radius: 8px;
	font-size: 1.3em;
	float: left;
}

legend {
	margin-left: 15px;
}

fieldset input {
	margin-left: 10px;
}

fieldset label {
	margin-right: 10px;
	margin-left: 2px;
}

/* zoom canvas */

.zoom_canvas_glyph_info_label {
	font-family: Hieroglyphic;
	font-size: 32px;
}

.zoom_canvas_display {
	width: 100%;
	height: 70vh;
}
@media only screen and (max-width: 500px) {
	.zoom_canvas_display {
		height: 60vh;
	}
}

